.navbar {
  background-color: #003366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.navbar-logo a {
  color: #00cc66;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #00cc66;
}
